.Welcome {
  color: white;
  background-color: #00695c;
  font-size: 100;
  font-family: 'Roboto Condensed', sans-serif;
}

.title {
  color: black;
  font-size: 40;
  font-family: 'Roboto Condensed', sans-serif;
}

.subtitle {
  color: gray;
  font-size: 17;
  font-family: 'Roboto Condensed', sans-serif;
}

.regular {
  color: black;
  font-size: 30;
  font-family: 'Roboto Condensed', sans-serif;
}

.entry {
  color: gray;
  font-size: 20;
  font-family: 'Roboto Condensed', sans-serif;
}

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

/* #00695c
#439889
#003d33 */
