<html>
<head>
  <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
  <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
  <ion-app>
    <ion-content>
      <ion-card>
        <ion-card-content>
          <ion-grid>
          <ion-row>
            <ion-col size="8">
              <ion-card-header>
                <div id="bill_name" class="regular"></div>
              </ion-card-header>
            </ion-col>
            <ion-col offset="3" >
              <ion-button color="dark" shape="round" fill="outline">
                <ion-icon name="stats"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row justify-content-start>
            <ion-col offset=".2" size="auto">
              <div id="bill_short_description" class="subtitle">
                Ending Tax Breaks for Private Prisons Act This bill amends the Internal Revenue Code to exclude from the definition of
                 ;taxable REIT (Real Estate Investment Trust) subsidiary; any corporation which directly or indirectly: (1) operates or manages a prison facility or provides services at or in connection with a prison facility; or (2) provides to any other person
                 (under a franchise, license, or otherwise) rights to any brand name under which any prison facility is operated, subject to specifi..."
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
            </ion-col>
            <ion-col size="6">
            </ion-col>
            <ion-col size="6">
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col size="4" align-self-start>
              <ion-button fill="outline" color="success" shape="round">Support</ion-button>
            </ion-col>
            <ion-col size="4" align-self-center>
              <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
            </ion-col>
            <ion-col size="1" align-self-end>
              <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</body>
</html>
