<html>
<head>
  <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
</head>
<body>
  <ion-app>
    <ion-content>
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
              </ion-col>
              <ion-col>
                <ion-card-title>Tell your representatives how you feel!</ion-card-title>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
              </ion-col>
              <ion-col>
                <ion-card-title>District Representative:</ion-card-title>
              </ion-col>
              <ion-col>
                <ion-card-title>Bill Nye</ion-card-title>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
              </ion-col>
              <ion-col>
                <img src="http://pluspng.com/img-png/circle-png-circle-png-hd-1600.png">
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
              <ion-col offset="1.05"size="2">
                <ion-button color="success" shape="round" fill="outline">
                  <ion-icon name="thumbs-up"></ion-icon>
                </ion-button>
              </ion-col>
          <ion-col size="2">
            <ion-button color="danger" shape="round" fill="outline">
              <ion-icon name="thumbs-down"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col size="auto">
            <ion-item>
              <ion-label position="floating">Type feedback for your representative</ion-label>
              <ion-textarea></ion-textarea>
            </ion-item>
           </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
            <ion-card-title>Senator:</ion-card-title>
          </ion-col>
          <ion-col>
            <ion-card-title>Beto O'Rourke</ion-card-title>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
            <img src="http://pluspng.com/img-png/circle-png-circle-png-hd-1600.png">
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col offset="1.05"size="2">
            <ion-button color="success" shape="round" fill="outline">
              <ion-icon name="thumbs-up"></ion-icon>
            </ion-button>
          </ion-col>
      <ion-col size="2">
        <ion-button color="danger" shape="round" fill="outline">
          <ion-icon name="thumbs-down"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="auto">
        <ion-item>
          <ion-label position="floating">Type feedback for your representative</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
       </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-card-title>Senator:</ion-card-title>
      </ion-col>
      <ion-col>
        <ion-card-title>Ted Cruz</ion-card-title>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <img src="http://pluspng.com/img-png/circle-png-circle-png-hd-1600.png">
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col offset="1.05"size="2">
        <ion-button color="success" shape="round" fill="outline">
          <ion-icon name="thumbs-up"></ion-icon>
        </ion-button>
      </ion-col>
  <ion-col size="2">
    <ion-button color="danger" shape="round" fill="outline">
      <ion-icon name="thumbs-down"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
<ion-row justify-content-center>
  <ion-col size="auto">
    <ion-item>
      <ion-label position="floating">Type feedback for your representative</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
   </ion-col>
</ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
</ion-app>
</body>
</html>
