<html>
<head>
  <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
  <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/contact_representatives.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
  <ion-app>
    <ion-content>
      <ion-card>
          <ion-grid>
            <ion-row justify-content-center>
              <ion-col>
              </ion-col>
              <ion-col size="auto" >
                  <div id="title">Tell your representatives how you feel!</div>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
              </ion-col>
              <ion-col size="auto" >
                <div id="regular">District Representative:</div>
              </ion-col>
              <ion-col size="auto" >
                <div id="regular">Bill Nye</div>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
              </ion-col>
              <ion-col>
                <img src="http://pluspng.com/img-png/circle-png-circle-png-hd-1600.png">
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
              <ion-col offset="1.05"size="2">
                <ion-button color="success" shape="round" fill="outline">
                  <ion-icon name="thumbs-up"></ion-icon>
                </ion-button>
              </ion-col>
          <ion-col size="2">
            <ion-button color="danger" shape="round" fill="outline">
              <ion-icon name="thumbs-down"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col size="auto">
            <ion-item id="textbox">
              <ion-label position="floating">Type feedback for your representative</ion-label>
              <ion-textarea rows="8" col="4">
              </ion-textarea>
            </ion-item>
           </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col>
          </ion-col>
          <ion-col size="auto">
            <div id="regular">Senator</div>
          </ion-col>
          <ion-col size="auto">
            <div id="regular">Beto O'Rourke</div>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
            <img src="http://pluspng.com/img-png/circle-png-circle-png-hd-1600.png">
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col offset="1.05"size="2">
            <ion-button color="success" shape="round" fill="outline">
              <ion-icon name="thumbs-up"></ion-icon>
            </ion-button>
          </ion-col>
      <ion-col size="2">
        <ion-button color="danger" shape="round" fill="outline">
          <ion-icon name="thumbs-down"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="auto">
        <ion-item>
          <ion-label position="floating">Type feedback for your representative</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
       </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col>
      </ion-col>
      <ion-col size="auto">
        <div id="regular">Senator:</div>
      </ion-col>
      <ion-col size="auto">
        <div id="regular">Ted Cruz</div>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <img src="http://pluspng.com/img-png/circle-png-circle-png-hd-1600.png">
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col offset="1.05"size="2">
        <ion-button color="success" shape="round" fill="outline">
          <ion-icon name="thumbs-up"></ion-icon>
        </ion-button>
      </ion-col>
  <ion-col size="2">
    <ion-button color="danger" shape="round" fill="outline">
      <ion-icon name="thumbs-down"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
<ion-row justify-content-center>
  <ion-col size="auto">
    <ion-item>
      <ion-label position="floating">Type feedback for your representative</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
   </ion-col>
</ion-row>
      </ion-grid>
  </ion-card>
</ion-content>
</ion-app>
</body>
</html>
