<html>
  <head>
    <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  </head>
  <body>
    <ion-app>
      <ion-content>
        <ion-card>
        </ion-card>
      </ion-content>
    </ion-app>
  </body>
</html>
