<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <ion-app>
      <ion-tabs>
<ion-content>
        <ion-tab tab="tab-home" component="page-home">

          <ion-list>
            <ion-item>
              <ion-card>

              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-card-header>
                        <div id="bill_name"> "H.J.Res. 31: Consolidated Appropriations Act, 2019" </div>
                      </ion-card-header>
                    </ion-col>
                  </ion-row>
                  <ion-row justify-content-start>
                    <ion-col>
                      <div id="bill_short_description" class="subtitle"> "This bill, in its final form, funded the parts of the federal government whose funding was to lapse on February 15, 2019."
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">
                    </ion-col>
                    <ion-col size="6">
                    </ion-col>
                    <ion-col size="6">
                    </ion-col>
                  </ion-row>
                  <ion-row justify-content-center>
                    <ion-col size="auto" align-self-start>
                      <ion-button fill="outline" color="success" shape="round">Support</ion-button>
                    </ion-col>
                    <ion-col size="auto" align-self-center>
                      <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
                    </ion-col>
                    <ion-col size="auto" align-self-end>
                      <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>

          <ion-item>
            <ion-card>

            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-card-header>
                      <div id="bill_name"> "H.R. 8: Bipartisan Background Checks Act of 2019" </div>
                    </ion-card-header>
                  </ion-col>
                </ion-row>
                <ion-row justify-content-start>
                  <ion-col>
                    <div id="bill_short_description" class="subtitle"> "To require a background check for every firearm sale."
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                  </ion-col>
                  <ion-col size="6">
                  </ion-col>
                  <ion-col size="6">
                  </ion-col>
                </ion-row>
                <ion-row justify-content-center>
                  <ion-col size="auto" align-self-start>
                    <ion-button fill="outline" color="success" shape="round">Support</ion-button>
                  </ion-col>
                  <ion-col size="auto" align-self-center>
                    <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
                  </ion-col>
                  <ion-col size="auto" align-self-end>
                    <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-item>

        <ion-item>
          <ion-card>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card-header>
                    <div id="bill_name"> "H.R. 1112: To amend chapter 44 of title 18, United States Code, to strengthen the background check procedures to be followed before a Federal firearms licensee may transfer a firearm." </div>
                  </ion-card-header>
                </ion-col>
              </ion-row>
              <ion-row justify-content-start>
                <ion-col>
                  <div id="bill_short_description" class="subtitle"> "To amend chapter 44 of title 18, United States Code, to strengthen the background check procedures to be followed before a Federal firearms licensee may transfer a firearm to a person who is not such a licensee."
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                </ion-col>
                <ion-col size="6">
                </ion-col>
                <ion-col size="6">
                </ion-col>
              </ion-row>
              <ion-row justify-content-center>
                <ion-col size="auto" align-self-start>
                  <ion-button fill="outline" color="success" shape="round">Support</ion-button>
                </ion-col>
                <ion-col size="auto" align-self-center>
                  <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
                </ion-col>
                <ion-col size="auto" align-self-end>
                  <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
        <ion-card>

        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-header>
                  <div id="bill_name"> "H.R. 1: For the People Act of 2019" </div>
                </ion-card-header>
              </ion-col>
            </ion-row>
            <ion-row justify-content-start>
              <ion-col>
                <div id="bill_short_description" class="subtitle"> "To expand Americans' access to the ballot box, reduce the influence of big money in politics, and strengthen ethics rules for public servants, and for other purposes."
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
              </ion-col>
              <ion-col size="6">
              </ion-col>
              <ion-col size="6">
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
              <ion-col size="auto" align-self-start>
                <ion-button fill="outline" color="success" shape="round">Support</ion-button>
              </ion-col>
              <ion-col size="auto" align-self-center>
                <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
              </ion-col>
              <ion-col size="auto" align-self-end>
                <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-header>
                <div id="bill_name"> "H.R. 790: Federal Civilian Workforce Pay Raise Fairness Act of 2019" </div>
              </ion-card-header>
            </ion-col>
          </ion-row>
          <ion-row justify-content-start>
            <ion-col>
              <div id="bill_short_description" class="subtitle"> "To provide for a pay increase in 2019 for certain civilian employees of the Federal Government, and for other purposes."
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
            </ion-col>
            <ion-col size="6">
            </ion-col>
            <ion-col size="6">
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col size="auto" align-self-start>
              <ion-button fill="outline" color="success" shape="round">Support</ion-button>
            </ion-col>
            <ion-col size="auto" align-self-center>
              <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
            </ion-col>
            <ion-col size="auto" align-self-end>
              <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-header>
                <div id="bill_name"> "H.R. 420: Regulate Marijuana Like Alcohol Act" </div>
              </ion-card-header>
            </ion-col>
          </ion-row>
          <ion-row justify-content-start>
            <ion-col>
              <div id="bill_short_description" class="subtitle"> "To provide for the regulation of marijuana products, and for other purposes.."
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
            </ion-col>
            <ion-col size="6">
            </ion-col>
            <ion-col size="6">
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col size="auto" align-self-start>
              <ion-button fill="outline" color="success" shape="round">Support</ion-button>
            </ion-col>
            <ion-col size="auto" align-self-center>
              <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
            </ion-col>
            <ion-col size="auto" align-self-end>
              <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>
<!-- </ion-content> -->
</ion-tab>

  <ion-tab tab="tab-contact" component="page-contact">
    <!-- <ion-content> -->
      <ion-card>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col>
            </ion-col>
            <ion-col size="auto" >
              <div class="title">Tell your representatives how you feel!</div>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
          <ion-row justify-content-end>
            <ion-col>
            </ion-col>
            <ion-col size="auto">
              <div class="regular" "congressman_heading">Senator:</div>
            </ion-col>
            <ion-col size="auto">
              <div id="senator_two" class="regular">Kamala Harris</div>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              <img src="https://i.imgur.com/kxsn0jl.jpg">
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col size="auto">
                <ion-button color="success" shape="round" fill="outline">
                  <ion-icon name="thumbs-up"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="auto">
                <ion-button color="dark" shape="round" fill="outline" id="call_graph">
                  <ion-icon name="podium"></ion-icon>
                </ion-button>
              </ion-col>
          <ion-col size="auto">
            <ion-button color="danger" shape="round" fill="outline">
              <ion-icon name="thumbs-down"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
          <ion-row justify-content-center>
            <ion-col size="auto">
              <ion-item class="textbox">
                <ion-textarea placeholder="Type feedback for your representative..."></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="auto">
              <ion-button shape="round" id="send_button">
                <div class="button" >Send</div>
              </ion-button>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
            <ion-col size="auto" >
              <div class="regular" "congressman_heading">District Representative:</div>
            </ion-col>
            <ion-col size="auto" >
              <div id="district_rep" class="regular">Anna G. Eshoo</div>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              <img src="https://www.commoncause.org/wp-content/uploads/bioguideimages/E000215.jpg">
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col size="auto">
                <ion-button color="success" shape="round" fill="outline">
                  <ion-icon name="thumbs-up"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="auto">
                <ion-button color="dark" shape="round" fill="outline" id="graph">
                  <ion-icon name="podium"></ion-icon>
                </ion-button>
              </ion-col>
          <ion-col size="auto">
            <ion-button color="danger" shape="round" fill="outline">
              <ion-icon name="thumbs-down"></ion-icon>
            </ion-button>
          </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col size="auto">
              <ion-item class="textbox">
                <ion-textarea placeholder="Type feedback for your representative..." id="rep_message"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="auto">
              <ion-button shape="round" id="send_button_rep">
                <div class="button" >Send</div>
              </ion-button>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row justify-content-end>
            <ion-col>
            </ion-col>
            <ion-col size="auto">
              <div class="regular" "congressman_heading">Senator:</div>
            </ion-col>
            <ion-col size="auto">
              <div id="senator_one" class="regular">Diane Feinstein</div>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              <img src="https://www.commoncause.org/wp-content/uploads/bioguideimages/F000062.jpg">
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col size="auto">
                <ion-button color="success" shape="round" fill="outline">
                  <ion-icon name="thumbs-up"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="auto">
                <ion-button color="dark" shape="round" fill="outline" id="graph">
                  <ion-icon name="podium"></ion-icon>
                </ion-button>
              </ion-col>
          <ion-col size="auto">
            <ion-button color="danger" shape="round" fill="outline">
              <ion-icon name="thumbs-down"></ion-icon>
            </ion-button>
          </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col size="auto">
              <ion-item class="textbox">
                <ion-textarea placeholder="Type feedback for your representative..."></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="auto">
              <ion-button shape="round" id="send_button_sen_two">
                <div class="button">Send</div>
              </ion-button>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    <!-- </ion-content> -->
  </ion-tab>

  <!-- <ion-tab tab="tab-graph" component="page-graph">
  </ion-tab> -->
  <!-- <ion-tab tab="tab-home" component="page-home">
  </ion-tab> -->

  <ion-tab tab="tab-profile" >
    <!-- <ion-content> -->
      <ion-card>
        <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              <img src="http://irusa.org/wp-content/uploads/2018/04/Go-Vote_400x400.jpg" id="profile_picture">
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div class="regular">Email:</div>
            </ion-col>
            <ion-col>
              <div id="username" class="regular">ryanj9@stanford.edu</div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row> -->
          <ion-row justify-content-center>
            <!-- <ion-col>
            </ion-col> -->
            <ion-col size="auto">
              <div class="subtitle">Name:</div>
            </ion-col>
            <ion-col>
              <div id="name" class="subtitle">Ryan Johnston</div>
            </ion-col>
            <!-- <ion-col size="1">
            </ion-col> -->
          </ion-row>
          <ion-row justify-content-center>
            <!-- <ion-col>
            </ion-col> -->
            <ion-col size="auto">
              <div class="subtitle">Party:</div>
            </ion-col>
            <ion-col>
              <div id="party" class="subtitle">Democrat</div>
            </ion-col>
            <!-- <ion-col size="1">
            </ion-col> -->
          </ion-row>
          <ion-row justify-content-center>
            <!-- <ion-col>
            </ion-col> -->
            <ion-col size="auto">
              <div class="subtitle">Gender:</div>
            </ion-col>
            <ion-col>
              <div id="gender" class="subtitle">Male</div>
            </ion-col>
            <!-- <ion-col size="1">
            </ion-col> -->
          </ion-row>
          <ion-row justify-content-center>
            <!-- <ion-col>
            </ion-col> -->
            <ion-col size="auto">
              <div class="subtitle">Email:</div>
            </ion-col>
            <ion-col>
              <div id="email" class="subtitle">ryanj9@stanford.edu</div>
            </ion-col>
            <!-- <ion-col size="1">
            </ion-col> -->
          </ion-row>
          <ion-row>
            <!-- <ion-col>
            </ion-col> -->
            <ion-col size="auto">
              <div class="subtitle">State, Congressional District:</div>
            </ion-col >
            <ion-col size="auto">
              <div id="state_and_district" class="subtitle">California's 18th</div>
            </ion-col>
            <!-- <ion-col size="1">
            </ion-col> -->
          </ion-row>
          <ion-row>
            <!-- <ion-col>
            </ion-col> -->
            <ion-col size="auto">
              <div class="subtitle">District Representative:</div>
            </ion-col>
            <ion-col size="auto">
              <div id="district_representative" class="subtitle">Anna Eschoo</div>
            </ion-col>
            <!-- <ion-col size="1">
            </ion-col> -->
          </ion-row>
          <ion-row>
            <!-- <ion-col>
            </ion-col> -->
            <ion-col size="auto">
              <div class="subtitle">Senator:</div>
            </ion-col>
            <ion-col size="auto">
              <div id="senator_one" class="subtitle">Diane Feinstein</div>
            </ion-col>
            <!-- <ion-col size="1">
            </ion-col> -->
          </ion-row>
          <ion-row>
            <!-- <ion-col>
            </ion-col> -->
            <ion-col size="auto">
              <div class="subtitle">Senator:</div>
            </ion-col>
            <ion-col size="auto">
              <div id="senator_two" class="subtitle">Kamala Harris</div>
            </ion-col>
            <!-- <ion-col size="1">
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </ion-card-content>
      </ion-card>

  </ion-tab>
  </ion-content>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-contact">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Contact Your Reps</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="tab-graph">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="tab-profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


</ion-app>
</body>
</html>
