<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <ion-app>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card-header>
                    <div id="bill_name"> "H.J.Res. 31: Consolidated Appropriations Act, 2019" </div>
                  </ion-card-header>
                </ion-col>
          </ion-row>
          <ion-row justify-content-start>
            <ion-col>
              <div id="bill_short_description" class="subtitle"> "This bill, in its final form, funded the parts of the federal government whose funding was to lapse on February 15, 2019."
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
            </ion-col>
            <ion-col size="6">
            </ion-col>
            <ion-col size="6">
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col size="auto" align-self-start>
              <ion-button fill="outline" color="success" shape="round">Support</ion-button>
            </ion-col>
            <ion-col size="auto" align-self-center>
              <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
            </ion-col>
            <ion-col size="auto" align-self-end>
              <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-header>
              <div id="bill_name"> "H.R. 8: Bipartisan Background Checks Act of 2019" </div>
            </ion-card-header>
          </ion-col>
    </ion-row>
    <ion-row justify-content-start>
      <ion-col>
        <div id="bill_short_description" class="subtitle"> "To require a background check for every firearm sale."
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
      </ion-col>
      <ion-col size="6">
      </ion-col>
      <ion-col size="6">
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="auto" align-self-start>
        <ion-button fill="outline" color="success" shape="round">Support</ion-button>
      </ion-col>
      <ion-col size="auto" align-self-center>
        <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
      </ion-col>
      <ion-col size="auto" align-self-end>
        <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>
</ion-item>

<ion-item>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-header>
            <div id="bill_name"> "H.R. 1112: To amend chapter 44 of title 18, United States Code, to strengthen the background check procedures to be followed before a Federal firearms licensee may transfer a firearm." </div>
          </ion-card-header>
        </ion-col>
  </ion-row>
  <ion-row justify-content-start>
    <ion-col>
      <div id="bill_short_description" class="subtitle"> "To amend chapter 44 of title 18, United States Code, to strengthen the background check procedures to be followed before a Federal firearms licensee may transfer a firearm to a person who is not such a licensee."
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
    </ion-col>
    <ion-col size="6">
    </ion-col>
    <ion-col size="6">
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col size="auto" align-self-start>
      <ion-button fill="outline" color="success" shape="round">Support</ion-button>
    </ion-col>
    <ion-col size="auto" align-self-center>
      <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
    </ion-col>
    <ion-col size="auto" align-self-end>
      <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card-content>
</ion-card>
</ion-item>

<ion-item>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-header>
            <div id="bill_name"> "H.R. 1: For the People Act of 2019" </div>
          </ion-card-header>
        </ion-col>
  </ion-row>
  <ion-row justify-content-start>
    <ion-col>
      <div id="bill_short_description" class="subtitle"> "To expand Americans' access to the ballot box, reduce the influence of big money in politics, and strengthen ethics rules for public servants, and for other purposes."
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
    </ion-col>
    <ion-col size="6">
    </ion-col>
    <ion-col size="6">
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col size="auto" align-self-start>
      <ion-button fill="outline" color="success" shape="round">Support</ion-button>
    </ion-col>
    <ion-col size="auto" align-self-center>
      <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
    </ion-col>
    <ion-col size="auto" align-self-end>
      <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card-content>
</ion-card>
</ion-item>

<ion-item>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-header>
            <div id="bill_name"> "H.R. 790: Federal Civilian Workforce Pay Raise Fairness Act of 2019" </div>
          </ion-card-header>
        </ion-col>
  </ion-row>
  <ion-row justify-content-start>
    <ion-col>
      <div id="bill_short_description" class="subtitle"> "To provide for a pay increase in 2019 for certain civilian employees of the Federal Government, and for other purposes."
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
    </ion-col>
    <ion-col size="6">
    </ion-col>
    <ion-col size="6">
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col size="auto" align-self-start>
      <ion-button fill="outline" color="success" shape="round">Support</ion-button>
    </ion-col>
    <ion-col size="auto" align-self-center>
      <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
    </ion-col>
    <ion-col size="auto" align-self-end>
      <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card-content>
</ion-card>
</ion-item>

<ion-item>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-header>
            <div id="bill_name"> "H.R. 420: Regulate Marijuana Like Alcohol Act" </div>
          </ion-card-header>
        </ion-col>
  </ion-row>
  <ion-row justify-content-start>
    <ion-col>
      <div id="bill_short_description" class="subtitle"> "To provide for the regulation of marijuana products, and for other purposes.."
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
    </ion-col>
    <ion-col size="6">
    </ion-col>
    <ion-col size="6">
    </ion-col>
  </ion-row>
  <ion-row justify-content-center>
    <ion-col size="auto" align-self-start>
      <ion-button fill="outline" color="success" shape="round">Support</ion-button>
    </ion-col>
    <ion-col size="auto" align-self-center>
      <ion-button fill="outline" color="medium" shape="round">Neutral</ion-button>
    </ion-col>
    <ion-col size="auto" align-self-end>
      <ion-button fill="outline" color="danger" shape="round">Oppose</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-card-content>
</ion-card>
</ion-item>
</ion-list>
</ion-content>
</ion-app>
</body>
</html>
