<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
    <link rel="stylesheet" href="static/css/styles.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/scripts.js"></script>
  </head>
  <body>
    <ion-app>
      <ion-content fullscreen>
        <div class="center-screen">
          <h1> Welcome to InSession </h1>
          <ion-button shape="round" class="main-page-button index_buttons" id="login_page_nav_button">Login</ion-button>
          <ion-button shape="round" class="main-page-button index_buttons" id="signup_page_nav_button" >Sign Up</ion-button>
        </div>
      </ion-content>
    </ion-app>
  </body>
</html>
