<html>
  <head>
    <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
  </head>
  <body>
    <ion-app>
      <ion-content>
        <ion-card>
          <img src="https://pbs.twimg.com/profile_images/1049287194626547712/zLqa3BD7_400x400.jpg">
          <ion-card-header>
            <ion-card-subtitle>Hello World</ion-card-subtitle>
            <ion-card-title>Hello World</ion-card-title>
          </ion-card-header>
          <ion-card-content >
            Hello World
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ion-app>
  </body>
</html>
