<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
  <ion-app>
    <ion-content fullscreen>
      <ion-slides pager="true">
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="title">
                  Welcome to
                </div>
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
              <ion-col size="4">
                <img src="https://i.imgur.com/8ZYgsXQ.png">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="subtitle">
                  Swipe to continue
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="regular">
                  What does InSession do?
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="regular">
                  We give you the tools to directly engage with your government.
                  We help you stay up to date with bills currently in congress
                  and give you easy ways to influence your elected representatives.
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="subtitle">
                  Let's get started!
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="regular">
                  Set up your account
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">
                    <div id="first_name" class="entry">First Name</div>
                  </ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">
                    <div id="last_name" class="entry">Last Name</div>
                  </ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">
                    <div id="email" class="entry">email</div>
                  </ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">
                    <div id="password" class="entry">password</div>
                  </ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">
                    <div id="confirm_password" class="entry">confirm password</div>
                  </ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="regular">
                  Verify your account
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="subtitle">
                  Please enter your phone number to recieve a verification code
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">
                    <div id="phone_number" class="entry">Phone Number</div>
                  </ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button shape="round" id="submit_button">
                  <div class="button">Submit</div>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
            <ion-slide>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="regular">
                      Verify your account
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="subtitle">
                      Please enter your phone number to recieve a verification code
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label position="floating">
                        <div id="phone_number" class="button">Phone Number</div>
                      </ion-label>
                      <ion-input></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
            <ion-row>
              <ion-col>
                <div class="subtitle">
                  Enter the code texted to you here:
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">
                    <div id="verification_code" class="entry">Verification Code</div>
                  </ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="regular">
                  Other Information
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="subtitle">
                  We need your Zip Code to identify your representatives
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">
                    <div id="zip_code" class="entry">Zip Code</div>
                  </ion-label>
                  <ion-input></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>
                    <div class="entry">Gender</div>
                  </ion-label>
                  <ion-select id="gender_choice" interface="action-sheet" placeholder="Select One">
                    <ion-select-option value="male">
                      <div clas="entry">Male</div>
                    </ion-select-option>
                    <ion-select-option value="female">
                      <div class="entry">Female</div>
                    </ion-select-option>
                    <ion-select-option value="prefer-not-gender">
                      <div class="entry">Prefer not to answer</div>
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>
                    <div class="entry">Party affiliation</div>
                  </ion-label>
                  <ion-select id="party_choice" interface="action-sheet" placeholder="Select One">
                    <ion-select-option value="republican">
                      <div class="entry">Republican</div>
                    </ion-select-option>
                    <ion-select-option value="democrat">
                      <div class="entry">Democrat</div>
                    </ion-select-option>
                    <ion-select-option value="independant">
                      <div class="entry">Independant</div>
                    </ion-select-option>
                    <ion-select-option value="prefer-not-party">
                      <div class="entry">Prefer not to answer</div>
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
          <ion-row>
            <ion-col>
            <div class="regular">
              That's it!
            </div>
          </ion-col>
        </ion-row>
          <ion-row>
            <ion-col>
              <ion-button shape="round" id="enter_button">
                <div class="button">Enter App</div>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-content>
  </ion-app>
</body>
</html>
