<html>
<head>
  <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
  <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
  <ion-app>
    <ion-content>
      <ion-tabs>
        <ion-tab tab="tab-contact" component="page-contact">
          <ion-nav></ion-nav>
        </ion-tab>
        <ion-tab tab="tab-friends" component="page-friends">
          <ion-nav></ion-nav>
        </ion-tab>
        <ion-tab tab="tab-home" component="page-home">
          <ion-nav></ion-nav>
        </ion-tab>
        <ion-tab tab="tab-profile" component="page-profile">
          <ion-nav></ion-nav>
        </ion-tab>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="tab-home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="tab-contact">
            <ion-icon name="chatboxes"></ion-icon>
            <ion-label>Contact Your Reps</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="tab-friends">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>Friends</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="tab-profile">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </ion-app>
</body>
</html>
