<html>
<head>
  <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
  <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
  <ion-app>
    <ion-content>
      <ion-card>
        <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              <img src="http://pluspng.com/img-png/circle-png-circle-png-hd-1600.png">
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div id="regular">Username:</div>
            </ion-col>
            <ion-col>
              <div id="regular">HakunaMatata</div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div id=subtitle>Name:</div>
            </ion-col>
            <ion-col>
              <div id=subtitle>John Cena</div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div id=subtitle>Party:</div>
            </ion-col>
            <ion-col>
              <div id=subtitle>Undeclared</div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div id=subtitle>Gender:</div>
            </ion-col>
            <ion-col>
              <div id=subtitle>Undeclared</div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div id=subtitle>Email:</div>
            </ion-col>
            <ion-col>
              <div id=subtitle>someone@stanford.edu</div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div id=subtitle>State, Congressional District:</div>
            </ion-col>
            <ion-col>
              <div id=subtitle>Texas, District 1000</div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div id=subtitle>District Representative:</div>
            </ion-col>
            <ion-col>
              <div id=subtitle>Bill Nye</div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div id=subtitle>State Senator:</div>
            </ion-col>
            <ion-col>
              <div id=subtitle>Senator #1</div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div id=subtitle>State Senator:</div>
            </ion-col>
            <ion-col>
              <div id=subtitle>Senator #2</div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</body>
</html>
