<html>
<head>
  <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
</head>
<body>
  <ion-app>
    <ion-content>
      <ion-card>
        <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              <img src="http://pluspng.com/img-png/circle-png-circle-png-hd-1600.png">
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <ion-card-title>Username:</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-title>HakunaMatata</ion-card-title>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <ion-card-subtitle>Name:</ion-card-subtitle>
            </ion-col>
            <ion-col>
              <ion-card-subtitle>John Cena</ion-card-subtitle>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <ion-card-subtitle>Party:</ion-card-subtitle>
            </ion-col>
            <ion-col>
              <ion-card-subtitle>Undeclared</ion-card-subtitle>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <ion-card-subtitle>Gender:</ion-card-subtitle>
            </ion-col>
            <ion-col>
              <ion-card-subtitle>Undeclared</ion-card-subtitle>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <ion-card-subtitle>Email:</ion-card-subtitle>
            </ion-col>
            <ion-col>
              <ion-card-subtitle>someone@stanford.edu</ion-card-subtitle>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <ion-card-subtitle>State, Congressional District:</ion-card-subtitle>
            </ion-col>
            <ion-col>
              <ion-card-subtitle>Texas, District 1000</ion-card-subtitle>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <ion-card-subtitle>District Representative:</ion-card-subtitle>
            </ion-col>
            <ion-col>
              <ion-card-subtitle>Bill Nye</ion-card-subtitle>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <ion-card-subtitle>State Senator:</ion-card-subtitle>
            </ion-col>
            <ion-col>
              <ion-card-subtitle>Senator #1</ion-card-subtitle>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <ion-card-subtitle>State Senator:</ion-card-subtitle>
            </ion-col>
            <ion-col>
              <ion-card-subtitle>Senator #2</ion-card-subtitle>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</body>
</html>
