<html>
<head>
  <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
  <link rel="stylesheet" href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
</head>
<body>
  <ion-app>
    <ion-content>
      <ion-card>
        <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              <img src="http://pluspng.com/img-png/circle-png-circle-png-hd-1600.png">
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div class="regular">Username:</div>
            </ion-col>
            <ion-col>
              <div id="username" class="regular"></div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div class="subtitle">Name:</div>
            </ion-col>
            <ion-col>
              <div id="name" class="subtitle"></div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div class="subtitle">Party:</div>
            </ion-col>
            <ion-col>
              <div id="party" class="subtitle"></div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div class="subtitle">Gender:</div>
            </ion-col>
            <ion-col>
              <div id="gender" class="subtitle"></div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div class="subtitle">Email:</div>
            </ion-col>
            <ion-col>
              <div id="email" class="subtitle"></div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div class="subtitle">State, Congressional District:</div>
            </ion-col>
            <ion-col>
              <div id="state_and_district" class="subtitle"></div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div class="subtitle">District Representative:</div>
            </ion-col>
            <ion-col>
              <div id="district_representative" class="subtitle"></div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div class="subtitle">State Senator:</div>
            </ion-col>
            <ion-col>
              <div id="senator_one" class="subtitle"></div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col size="2">
              <div class="subtitle">State Senator:</div>
            </ion-col>
            <ion-col>
              <div id="senator_two" class="subtitle"></div>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>
</body>
</html>
